SECRET_KEY=your-secret-key
#DATABASE_URL=sqlite:///app.db
INSTAGRAM_CLIENT_ID=your-instagram-client-id
INSTAGRAM_CLIENT_SECRET=your-instagram-client-secret
TIKTOK_CLIENT_KEY=your-tiktok-client-key
TIKTOK_CLIENT_SECRET=your-tiktok-client-secret
YOUTUBE_CLIENT_ID=your-youtube-client-id
YOUTUBE_CLIENT_SECRET=your-youtube-client-secret
OPENAI_API_KEY=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